/* Variables */

$color-one: #f9ca24;
$color-two: #fff;

$font-one: 'Montserrat', sans-serif;
$font-two: 'Raleway', sans-serif;
$transition: all 1s;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-one;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

section {
    padding: 108px 0 108px 0
}

.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
    font-family: $font-one;
}

.s-title {
    font-weight: 900;
    line-height: 0.1;
    font-size: 40px;
}

.s-subtitle {
    font-family: $font-two;
    font-style: italic;
    font-size: 16px;
}

.row {
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col, .box {
    flex: 0 0 33.333%;
}

.col .c-title {
    font-size: 18px;
    font-weight: bold;
}

.col p {
    font-family: $font-two;
    font-size: 14px;
    margin: 0 80px;
}

/* Navigation */

.navigation {
    position: absolute;
    background-color: none;
    padding: 12px 0 12px 700px;
    z-index: 1;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    display: inline-block;
    padding-right: 36px;
}

.navigation a:hover {
	color: $color-one;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: 50px;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url("/images/background-images.jpg");
    background-position: center center;
    background-size: cover;
    line-height: 0.5;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash .page-title {
  font-family: $font-one;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  letter-spacing: 2px;
}

.splash .page-subtitle {
  font-family: $font-one;
  font-style: italic;
  font-size: 36px;
  color: #fff;
}

.btn {
    display: inline-block;
    background-color: $color-one;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-one;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    color: #fff;
    line-height: 2.0;
    font-weight: bold;
    transition: $transition;
		background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn:hover {
		background-position: 0 100%;
    color: $color-one;
    font-weight: bold;
}

/* Services */

.services {
  padding-top: 30px;
}

/* Portfolio */

.portfolio .row-two {
  background-color: #f7f7f7;
  padding-top: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio .row-two .box {
  padding-bottom: 96px;
  line-height: 0.5;
}

.portfolio h4 {
  font-style: italic;
}


/* Footer */

.footer {
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.footer h3 {
  color: black;
  text-align: left;
}

.footer span i {
    font-size: 30px;
    background: black;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.footer span i:hover {
    transform: scale(1.2);
}

.footer li {
    display: inline-block;
    margin: 10px;
    font-size: 0;
}

/* Media */

@media (min-width: 360px) and (max-width: 991px) {
    flex-direction: column;
}

@media (min-width: 360px) and (max-width: 991px) {

.navigation {
    display: block;
		padding: 12px 0 12px 0;
    text-align: left;
		font-size: 10px;
}

.splash .page-title {
    font-size: 50px;
		line-height: 1.2;
}

.splash .page-subtitle {
    font-size: 26px;
		line-height: 1.2;
}

.services .row {
		padding-bottom: 0;
		padding-top: 10px;
		display: block;
		flex-direction: column;
}

.services .row .col {
		padding-top: 30px;
}

.portfolio .row-two {
		padding-bottom: 2px;
		padding-top: 2px;
		display: block;
		flex-direction: column;
}

.footer {
	justify-content: center;
}

}
